{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}


{% block path %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'breakfasts:next' %}">{% trans "Home" %}</a></li>
      <li class="breadcrumb-item active" aria-current="page">{% trans "Connection" %}</li>
    </ol>
  </nav>
{% endblock path %}


{% block page_title %}
  {% trans "Connection" %}
{% endblock page_title %}


{% block content %}
  <form method="post">
    {% csrf_token %}
    <div class="form-row">
      <div class="col-6">
        {{ form.username|as_crispy_field }}
      </div>
      <div class="col-6">
        {{ form.password|as_crispy_field }}
      </div>
    </div>

    <button type="submit" class="btn btn-primary">{% trans "Connection" %}</button>
    <button type="reset" class="btn btn-warning">{% trans "Cancel" %}</button>
  </form>
{% endblock content %}
