{% extends "base.html" %}
{% load bootstrap4 %}
{% load static %}

{% block path %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'breakfasts:next' %}">Home</a></li>
      <li class="breadcrumb-item"><a href="{% url 'breakfasts:next' %}">Breakfasts</a></li>
      {% if 'create' in request.path %}
        <li class="breadcrumb-item active" aria-current="page">Create</a></li>
      {% elif 'update' in request.path %}
        <li class="breadcrumb-item"><a href="{% url 'breakfasts:detail' breakfast.id %}">{{ breakfast.date }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">Update</a></li>
      {% endif %}
    </ol>
  </nav>
{% endblock %}

{% block page_title %}
  {% if 'create' in request.path %}
    Create breakfast
  {% elif 'update' in request.path %}
    Update breakfast '{{ breakfast.date }}'
  {% endif %}
{% endblock %}

{% block content %}
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_form form layout='horizontal' %}
    {% bootstrap_button "Save" button_type="submit" button_class="btn-primary" %}
  </form>
{% endblock %}

{% block javascript %}
  <script src="{% static 'js/datepicker.js' %}"></script>
{% endblock javascript %}
