{% extends "base.html" %}
{% load i18n %}
{% load l10n %}

{% block path %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'breakfasts:index' %}">{% trans "Home" %}</a></li>
        {% if past %}
          <li class="breadcrumb-item active">{% trans "Past breakfasts" %}</li>
        {% else %}
          <li class="breadcrumb-item active">{% trans "Next breakfasts" %}</li>
        {% endif %}
    </ol>
  </nav>
{% endblock path %}


{% block page_title %}
  {% if past %}
    {% trans "Past breakfasts" %}
  {% else %}
    {% trans "Next breakfasts" %}
  {% endif %}
{% endblock page_title %}


{% block content %}
  {% for object in object_list reversed %}
    {% if forloop.first %}
      <table class="table table-hover" id="myTable">
        <thead class="thead-light">
          <tr>
            <th scope="col">{% trans "Date" %}</th>
            <th scope="col">{% trans "First name" %}</th>
            <th scope="col">{% trans "Last name" %}</th>
            {% if user.is_authenticated %}
              <th scope="col">{% trans "Links" %}</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
    {% endif %}

          <tr>
            {% comment %} <td>{{ object.date|date:"F j" }}<sup>{{ object.date|date:"S" }}</sup>, {{ object.date|date:"Y" }}</td> {% endcomment %}
            <td>{{ object.date|localize }}</td>
            <td>{{ object.participant.first_name }}</td>
            <td>{{ object.participant.last_name }}</td>
            {% if user.is_authenticated %}
              <td>
                <div class="btn-group btn-group-sm float-right" role="group" aria-label="Basic example">
                  {% if perms.breakfasts.change_breakfast %}
                    <a class="btn btn-primary" href="{% url 'breakfasts:update' object.id %}">{% trans "Update" %}</a>
                  {% endif %}
                  {% if perms.breakfasts.delete_breakfast %}
                    <a class="btn btn-danger" href="{% url 'breakfasts:delete' object.id %}">{% trans "Delete" %}</a>
                  {% endif %}
                </div>
              </td>
            {% endif %}
          </tr>

    {% if forloop.last %}
        </tbody>
      </table>
    {% endif %}
  {% empty %}
    <p>{% trans "No breakfast planned yet" %}...</p>
  {% endfor %}
{% endblock content %}

{% block javascript %}
  {% comment %} <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function () {
      $('#myTable').DataTable({
        "paging":   false,
        "info":     false,
        "searching": false
    });
    });
  </script> {% endcomment %}
{% endblock javascript %}