{% extends "base.html" %}
{% load bootstrap4 %}
{% load static %}


{% block path %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'breakfasts:next' %}">Home</a></li>
      <li class="breadcrumb-item"><a href="{% url 'breakfasts:next' %}">Breakfasts</a></li>
      {% if 'create' in request.path %}
        <li class="breadcrumb-item active" aria-current="page">Create</a></li>
      {% elif 'update' in request.path %}
        <li class="breadcrumb-item"><a href="{% url 'breakfasts:detail' breakfast.id %}">{{ breakfast.date }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">Update</a></li>
      {% endif %}
    </ol>
  </nav>
{% endblock path %}


{% block page_title %}
  {% if 'create' in request.path %}
    Create breakfast
  {% elif 'update' in request.path %}
    Update breakfast '{{ breakfast.date }}'
  {% endif %}
{% endblock page_title %}


{% block content %}
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_form form layout='horizontal' %}
    {% bootstrap_button "Save" button_type="submit" button_class="btn-primary" %}
    {% bootstrap_button "Reset" button_type="reset" button_class="btn-warning" %}
  </form>
{% endblock content %}


{% block css %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" integrity="sha256-yMjaV542P+q1RnH6XByCPDfUFhmOafWbeLPmqKh11zo=" crossorigin="anonymous" />
{% endblock css %}


{% block javascript %}
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js" integrity="sha256-5YmaxAwMjIpMrVlK84Y/+NjCpKnFYa8bWWBbUHSBGfU=" crossorigin="anonymous"></script>
  <script type="text/javascript">
    $(function () {
      $('#id_date').datetimepicker({
        format: 'YYYY-MM-DD',
        {% if not form.date.value %}
          defaultDate: false,
        {% endif %}
        disabledDates: [
          {% for disable_date in disabled_dates %}
            moment("{{ disable_date.date|date:'Y-m-d' }}"),
          {% endfor %}
        ],
        icons: {
          time: 'fa fa-clock-o',
          date: 'fa fa-calendar',
          up: 'fa fa-chevron-up',
          down: 'fa fa-chevron-down',
          previous: 'fa fa-chevron-left',
          next: 'fa fa-chevron-right',
          today: 'fa fa-crosshairs',
          clear: 'fa fa-trash-o',
          close: 'fa fa-times'
        },
      });
    });
  </script>
{% endblock javascript %}
