{% extends "base.html" %}
{% load i18n %}
{% load bootstrap4 %}


{% block path %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'breakfasts:next' %}">{% trans "Home" %}</a></li>
      <li class="breadcrumb-item"><a href="{% url 'breakfasts:next' %}">{% trans "Breakfasts" %}</a></li>
      <li class="breadcrumb-item active">{{ breakfast.date }}</li>
    </ol>
  </nav>
{% endblock path %}


{% block page_title %}
  {{ breakfast.date }}
{% endblock page_title %}


{% block page_title_buttons %}
  {% if user.is_authenticated %}
    <div class="btn-group float-right" role="group" aria-label="Basic example">
      {% if perms.breakfasts.change_breakfast %}
        <a class="btn btn-primary" href="{% url 'breakfasts:update' breakfast.id %}">{% trans "Update" %}</a>
      {% endif %}
      {% if perms.breakfasts.delete_breakfast %}
        <a class="btn btn-danger" href="{% url 'breakfasts:delete' breakfast.id %}">{% trans "Delete" %}</a>
      {% endif %}
    </div>
  {% endif %}
{% endblock page_title_buttons %}


{% block content %}
  <p>{% trans "Buyer" %}: {{ breakfast.participant }}</p>
{% endblock content %}
