{% extends "base.html" %}
{% load bootstrap4 %}
{% load breakfast_extras %}

{% block path %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'breakfasts:next' %}">Home</a></li>
      <li class="breadcrumb-item"><a href="{% url 'breakfasts:next' %}">Breakfasts</a></li>
      <li class="breadcrumb-item active">{{ breakfast.date }}</li>
    </ol>
  </nav>
{% endblock %}


{% block page_title %}
  {{ breakfast.date }}
{% endblock %}

{% block page_title_buttons %}
  {% if user.is_authenticated %}
    <div class="btn-group float-right" role="group" aria-label="Basic example">
      {% if perms.breakfasts.change_breakfast %}
        <a class="btn btn-primary" href="{% url 'breakfasts:update' breakfast.id %}">Update</a>
      {% endif %}
      {% if perms.breakfasts.delete_breakfast %}
        <a class="btn btn-danger" href="{% url 'breakfasts:delete' breakfast.id %}">Delete</a>
      {% endif %}
    </div>
  {% endif %}
{% endblock %}


{% block content %}
    <p>Buyer: {{ breakfast.participant }}</p>
{% endblock %}
