{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}


{% block path %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'breakfasts:next' %}">{% trans "Home" %}</a></li>
      <li class="breadcrumb-item"><a href="{% url 'breakfasts:next' %}">{% trans "Breakfasts" %}</a></li>
      <li class="breadcrumb-item active" aria-current="page">{% trans "Alternate" %}</a></li>
    </ol>
  </nav>
{% endblock path %}


{% block page_title %}
  {% trans "Alternate breakfasts" %}
{% endblock page_title %}


{% block content %}
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.breakfast_list.label_tag }}
    {% for breakfast in form.breakfast_list %}
      {% if forloop.first %}
        <div class="form-row">
      {% endif %}

        <div class="col-4">
          {{ breakfast }}
        </div>
      {% if forloop.last %}
        </div>
      {% elif forloop.counter|divisibleby:3 %}
        </div><div class="form-row">
      {% endif %}
    {% endfor %}

    <button type="submit" class="btn btn-primary">{% trans "Alternate" %}</button>
    <button type="reset" class="btn btn-warning">{% trans "Reset" %}</button>
  </form>
{% endblock content %}
