{% extends "base.html" %}
{% load bootstrap4 %}

{% block path %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'dj-breakfasts:index' %}">Home</a></li>
        {% if past %}
          <li class="breadcrumb-item active">Past breakfasts</li>
        {% else %}
          <li class="breadcrumb-item active">Next breakfasts</li>
        {% endif %}
    </ol>
  </nav>
{% endblock %}


{% block page_title %}
  {% if past %}
    Past breakfasts
  {% else %}
    Next breakfasts
  {% endif %}
{% endblock %}


{% block content %}
  <table class="table table-hover">
    <thead class="thead-light">
      <tr>
        <th scope="col">Date</th>
        <th scope="col">First name</th>
        <th scope="col">Last name</th>
        {% if user.is_authenticated %}
          <th scope="col">Links</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for object in object_list reversed %}
        <tr>
          <td>{{ object.date|date:"F j" }}<sup>{{ object.date|date:"S" }}</sup>, {{ object.date|date:"Y" }}</td>
          <td>{{ object.participant.first_name }}</td>
          <td>{{ object.participant.last_name }}</td>
          {% if user.is_authenticated %}
            <td>
              <div class="btn-group btn-group-sm float-right" role="group" aria-label="Basic example">
                {% if perms.dj_breakfasts.change_breakfast %}
                  <a class="btn btn-primary" href="{% url 'dj-breakfasts:update' object.id %}">Update</a>
                {% endif %}
                {% if perms.dj_breakfasts.delete_breakfast %}
                  <a class="btn btn-danger" href="{% url 'dj-breakfasts:delete' object.id %}">Delete</a>
                {% endif %}
              </div>
            </td>
          {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
