{% extends "base.html" %}
{% load bootstrap4 %}

{% block path %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'dj-breakfasts:breakfast_year' current_year %}">Accueil</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ year|date:"Y"}}</a></li>
    </ol>
  </nav>
{% endblock %}


{% block page_title %}
  Year {{ year|date:"Y"}}
{% endblock %}


{% block content %}
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">Date</th>
        <th scope="col">First name</th>
        <th scope="col">Last name</th>
      </tr>
    </thead>
    <tbody>
      {% for object in object_list reversed %}
        <tr>
          <td>{{ object.date|date:"F j" }}<sup>{{ object.date|date:"S" }}</sup>, {{ object.date|date:"Y" }}</td>
          <td>{{ object.participant.first_name }}</td>
          <td>{{ object.participant.last_name }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <nav aria-label="Year pagination">
    <ul class="pagination justify-content-center">
      {% if previous_year %}
        <li class="page-item">
          <a class="page-link" href="{% url 'dj-breakfasts:breakfast_year' previous_year|date:"Y" %}" tabindex="-1">Previous year</a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1">Previous year</a>
        </li>
      {% endif %}
      <li class="page-item active">
        <a class="page-link" href="#">{{ year|date:"Y" }} <span class="sr-only">(current)</span></a>
      </li>
      {% if next_year %}
        <li class="page-item">
          <a class="page-link" href="{% url 'dj-breakfasts:breakfast_year' next_year|date:"Y" %}" tabindex="-1">Next year</a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1">Next year</a>
        </li>
      {% endif %}
    </ul>
  </nav>
{% endblock %}
